* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #674bb1;
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    padding: 40px 50px;
}

header img {
    width: 150px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px;
}

.content img {
    width: 550px;
}

.content .text {
    max-width: 500px;
    padding-left: 10px;
}

.text h2 {
    font-size: 45px;
    margin: 15px 0;
}

.text p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    margin: 10px 0;
}

.text button{
    padding: 10px 40px;
    border: 0;
    border-radius: 22px;
    font-size: 20px;
    background-color: #fff;
    color: #674bb1;
    cursor: pointer;
    margin: 10px 0;
}

.text button:hover {
    background-color: #e980e7;
    color: #fff;
}

.media {
    width: 100%;   
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 50px;
    position: absolute;
    bottom: 0;
}

.media i {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.media i:hover{
    border: 1px solid #fa5ff2;
    color: #fa5ff2;
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 30px;
    }

    .content img {
        width: 450px;
    }

    .content .text {
        width: 400px;
    }
    
}
@media screen and (max-width: 950px) {
    .content {
        padding: 30px 20px;
    }

    .content .text h2{
        font-size: 35px;
    }

    .content .text p{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 750px) {
    .container {
        height: auto;
    }
    .content {
        flex-direction: column;
    }

    .content img {
        width: 550px;
    }

    .content .text {
        width: 500px;
    }

    .content .text h2{
        font-size: 45px;
    }

    .content .text p{
        font-size: 20px;
    }

    .media {
        position: static;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {

    .content img {
        width: 350px;
    }

    .content .text {
        width: 350px;
    }

    .content .text h2{
        font-size: 30px;
    }

    .content .text p{
        font-size: 15px;
    }
}